.btn {

	background-color: #802BB1;
	margin: 0px;
	/*margin-left: 10px;*/
	margin-right: 85px;
	font-size: 38px;
	padding: 0.005em;
	font-family: "montserrat";
}

.homebutton {
	width: 7em;
	height: 1.5em;
}

.profilebutton {
	align-items: stretch;
	font-size: 32px;
	margin-bottom: 2.2em;
	/*height: 2em; -> Biar tombol lebih luas tapi untested di layar lebih kecil*/
}

.form-control {
	background-color: #584F6F;
	border-color: #584F6F;
	color: #D1D7E0;
	font-size: 1.5em;
	font-family: "montserrat";
}

.form-control:focus {
  	color: #D1D7E0;
  	background-color: #584F6F;
  	border-color: #584F6F;
  	font-size: 1.5em;
  	font-family: "montserrat";
}

.form-control::placeholder {
  	color: #4C495D;
  	font-family: "montserrat";
}