img.profpic {
	display: block;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(100% / 3);
	max-height: calc(100% / 3);
	width: auto;
	height: auto;
}

img.project-thumbnail {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 30em;
	max-height: 50em;
	width: auto;
	height: auto;
}
.connector {

	height: 4em;
	width: 0.5em;
	background-color: #CAA9E6;
	margin-left: auto;
	margin-right: auto;
}
