body {
	background-color: #2D283E;
	overflow-y: scroll;

}

.mainbody {
	/*margin-left: calc(100% / 8); 
	margin-right: calc(100% / 8);
	margin-left: 1em;
	margin-right: 1em;
	flex-direction: column;
	max-width: 90em !important;*/
}

.container {
	max-width: 90em;
}

.hbar {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.vbar {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.profile-information {
	background-color: #CAA9E6;
	display: flex;
	flex-direction: column;
}
