@font-face {
	font-family: "lovelo-black";
	src: url("fonts/Lovelo-Black.eot");
	src:
	url("fonts/Lovelo-Black.woff") format("woff"),
	url("fonts/Lovelo-Black.otf") format("opentype")
}

.title {
	font-size: 55px;
	text-align: center;
	color: #D1D7E0;
	line-height: 1;
	font-family: "lovelo-black";
}

.subtitle {
	font-size: 40px;
	color: #D1D7E0;
	text-align: center;
	font-family: "montserrat";

}

.content {
	font-size: 32px;
	color: #4C495D;
	text-align: center;
	font-family: "montserrat";
}

.content-title {
	font-size: 38px;
	color: #2D283E;
	text-align: center;
	font-family: "montserrat";
}

a.hyperlink:link, a.hyperlink:visited{
	font-size: 35px;
	text-align: left;
	text-decoration: underline;
	color: #4C495D;
	margin-left: 1em;
	font-family: "montserrat";
}

a.hyperlink:hover {
	font-size: 35px;
	text-align: left;
	text-decoration: underline;
	color: #564F6F;
	margin-left: 1em;
	font-family: "montserrat";
}


/*::placeholder {
	color: #4C495D;
}*/